html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 20px solid rgb(71, 6, 6);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
 
}

